@import 'bootstrap';
@import 'font-awesome';
@import 'simplemde.css';

body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.excerpt .CodeMirror{
	height: 150px;
	min-height: 150px;

}